%div
  = link_to "new", new_device_path, class: 'btn btn-primary'
%table.table.table-condensed
  %thead
    %tr
      %th id
      %th Номер договора
      %th Название
      %th Логин
      %th MAC-адрес
      %th Оборудование
      %th Частота
      %th Действия
  %tbody
    - @devices.each do |d|
      %tr
        %td= d.contract_id
        %td= d.contract_title
        %td= d.contract_comment
        %td= d.login
        %td= d.mac
        %td= ContractParameterType7Value.find(d.hardware).title
        %td= d.frequency
        %td
          = link_to 'Edit', edit_device_path(d.to_param), class: 'btn btn-warning'
          = link_to "Delete", device_path(d.to_param), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }, class: 'btn btn-danger'
#pagination
  = paginate @devices
