%div
  = link_to "new", new_device_path, class: 'btn btn-primary'
%table.table.table-condensed
  %thead
    %tr
      %th IP-адрес
      %th Логин
      %th MAC-адрес
      %th Оборудование
      %th Частота
      %th Базовая станция
      %th Действия
  %tbody
    - @devices.each do |d|
      %tr
        %td= d.ip
        %td= d.login
        %td= d.mac
        %td= d.hardware.name
        %td= d.frequency
        %td= d.base_station.name 
        %td
          = link_to 'Edit', edit_device_path(d.to_param), class: 'btn btn-warning'
          = link_to "Delete", device_path(d.to_param), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }, class: 'btn btn-danger'
#pagination
  = paginate @devices
