.container
  %div
    = @base_station.name
  %div
    = @base_station.ip
  %div
    = @base_station.nagios
  %div
    = @base_station.ssid
  %div
    = @base_station.azimut
  %div
    = @base_station.firmware.name
  %div
    = @base_station.hardware.name
  %div
    = @base_station.mac
  %div
    = @base_station.registration_frequency.name
  %div
    = @base_station.actual_frequency.name
  %div
    = @base_station.bandwidth.name
  %div
    = @base_station.antenna_type.name